version: "3"

services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: testdb
    volumes:
      - dbdata:/var/lib/mysql

  adminer:
    image: adminer
    ports:
      - "8081:8080"

volumes:
  dbdata:
